main {
    background: #e5e5e5;
  }
  
  .header_section {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .header_section .owl-stage-outer {
    height: 100%;
  }
  .header_section .carousel_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .header_section .carousel_content .item {
    width: 50%;
    float: right;
  }
  .header_section .carousel_content .item img {
    width: 100%;
    max-width: 512px;
  }
  .header_section .owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 8px;
    width: 150px;
    left: calc(50% - 75px);
    bottom: 21px;
    right: 0;
    display: flex;
    flex-direction: row;
  }
  
  @media (max-width: 700px) {
    .owl-girl .owl-dots {
      position: absolute !important;
      left: 50px !important;
      top: 50% !important;
      flex-direction: column !important;
    }
  }
  .owl-advantages .owl-item.active {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .owl-advantages .item-adv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .owl-advantages .item-adv img {
    width: 24px !important;
  }
  .owl-advantages .owl-carousel .owl-item img {
    width: 24px !important;
  }
  
  .best-items .owl-item.active {
    display: flex !important;
    justify-content: center;
    width: 100%;
  }
  
  .categories .hover-text {
    bottom: 1rem;
    transform: translateY(100%);
    transition: transform 0.5s, opacity 0.3s;
  }
  .categories .hover-text-container:hover .hover-text {
    transform: translateY(0);
    opacity: 1;
  }
  
  .app {
    background: radial-gradient(100% 1071.07% at 0% 0%, #0F0D2B 0%, #0C0926 100%);
  }